.appbanner {
    padding-top: 2%;
    padding-bottom: 2%;
  background-color: #7cc6e9;
}

.factorybutton {
  margin: 2% 8% 2% 35% !important;
  display: block;
}

.section {
  padding: 5% 3% !important;
  margin-left: 3% !important;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 2%;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.circle {
  margin-left: 2%;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  border: 3px solid rgb(86, 87, 84);
}

.headings{
  display: flex
}

.h2{
    margin-left: 2%;
    text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.deploy{
    float: right;
}

.cradcontainerdummy{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
    background-color: #ccc;
}

.input{
  width: 90% !important;
}