@import "../../App/style/index.scss";

$cyan: #afe0d4;

.is-fullheight {
  position: relative;
  width: 100%;
  min-height: auto !important;
}

.floater-roadmap {
  background-color: $cyan;
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
