@import "../../App/style/index.scss";

$yellow: #f7bb60;

.is-fullheight {
    position: relative;
    width: 100%;
    background-color: transparent ;
}

.floater {
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    padding: 0 !important;
}

.is-feat {
    background-color: $yellow;
}

.title {
    font-weight: 400 !important;
    font-size: 1rem !important;
}