@import "../../App/style/index.scss";

$yellow: #f7bb60;
// .hero {
//     align-items: flex-start !important; 
//     justify-content: flex-start !important;
// }

.is-fullheight {
    position: relative;
    width: 100%;
    background-color: transparent ;
}

.floater {
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    padding: 0 !important;
}

.is-feat {
    background-color: $yellow;
    align-items: flex-start !important; 
    justify-content: flex-start !important;
}

.title {
    font-weight: 400 !important;
    font-size: 1rem !important;
}

.content {
    color: #4a4a4a !important;
}