@charset "utf-8";
@import "../../../style/index.scss";

/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
  
    height: 400px;
    width: 100%;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 15px;
    width: 15px;
    // border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #FFF;
    border: 3px solid #2B75AC;
  }

  .explainer {
    margin: 10% 0 5% 0 !important;
  }

  .is-explainer-active {
    animation: effect 2.2s linear infinite alternate;
  }

  @keyframes effect {
    0% {
      color: #2f4858;
    }
    25% {
      color: #FF8300;
    }
    50% {
      color: #FF8300;
    }
    75% {
      color: #FF8300;
    }
    100% {
      color: #FF8300;
    }
}