@import "../../../style/index.scss";

.navbar-item {
  @include primaryFontFamily($textTransform: uppercase);
}

.navbar {
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .navbar {
    align-items: center !important;
    display: flex;
    margin: 2rem;
    position: fixed;
  }
  .hamburger {
    display: none !important;
  }

  .navbar-brand {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    justify-content: space-between;
  }

  .hamburger {
    padding: 0%;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: $charcoal;
}
