@import "../../../style/index.scss";

.theme-action-button-gradient-green.padded {
    padding: 3rem;
    width: auto;
}

.theme-action-button-gradient-purple.contained {
    width: auto;
}

.column.centered-text-align {
    text-align: center;
    text-align: -webkit-center;
}

.column.right-text-align {
    text-align: right;
    text-align: -webkit-right;
}

.column.left-text-align {
    text-align: left;
    text-align: -webkit-left;
}

.theme-view-box.active {
    border-color: $theme-orange;
}

.theme-view-box.success {
    border-color: $successfull-color;
}

.theme-view-box.failed {
    border-color: $unsucessful-color;
}

.theme-view-box {
    text-align: center !important;
}