@import "../../../style/index.scss";



.logo {
    font-family: rift, sans-serif;
    font-style: italic;
    font-weight: bolder !important;
    color: $charcoal;
}

.logo:hover {
  cursor: pointer;
}