@import "../../style/profile.scss";

.coin-view-box {
  border: 2px solid $primary-color;
  margin: 2rem;
  padding: 2rem;
}

.mycoins-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 50rem;
}

.mycoins-container::-webkit-scrollbar {
  display: none;
}
