@import "../../App/style/index.scss";

$cyan: #afe0d4;

.is-fullheight {
    position: relative;
    width: 100%;
    background-color: $cyan ;
    min-height: auto !important;
}

.is-roadmap {
    margin: 25% 0 5% 0 !important;
    align-items: flex-start !important; 
    justify-content: flex-start !important;
}

// .hero.is-halfheight .hero-body, .hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body {
//     align-items: flex-start;
// }


