@import "../../../style/profile.scss";

.header-logo {
  height: 5rem;
  width: 5rem;
  // border: 1px solid $inactive-color;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.header-logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collapse-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  right: 0%;
  top: 15%;
  transform: translate(-50%, -50%);
  // border: 1px solid $charcoal;
  // padding: 0.5rem 0.5rem 0 0.5rem;
}

.collapse-menu:hover {
  // background-color: $primary-color;
  color: $theme-orange !important;
}

.pro-sidebar {
  color: $charcoal !important;
}

.pro-sidebar-header {
  padding-bottom: 2rem !important;
}

.pro-menu-item.active,
.pro-menu-item:hover {
  background-color: $charcoal !important;
  color: white !important;
}
