@charset "utf-8";

@import url("https://use.typekit.net/rlw7mil.css");
@import "hamburgers";

$logo-family: "Rift", sans-serif;
$charcoal: #2f4858;
$primary-color: #2b75ac;
$secondary-color: #807fc6;
$inactive-color: #c4c4c4;
$unsucessful-color: #e53935;
$successfull-color: #00c853;
$theme-orange: #ff7d00;
$theme-yellow: #ffc120;
$hero-image-float-text: #f7ecca;
$theme-white: rgba(255, 255, 255, 0.911);
$family-sans-serif: roboto-slab, serif;
$family-primary: $family-sans-serif;
$title-family: $family-primary;
$title-color: $charcoal;
$font-color: $charcoal;

%theme-button-metrics {
  border-radius: 0% !important;
  border-width: 2px !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

@mixin primaryFontFamily($fontWeight: 400, $textTransform: none) {
  font-family: $family-sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  text-transform: $textTransform;
}

@mixin bordercolor($color: black, $style: solid) {
  border: 1px $style $color;
}

@mixin theme-button($border-color: $primary-color) {
  @extend %theme-button-metrics;
  background-color: $theme-white !important;
  border-color: $border-color !important;
}

@mixin theme-button-filled($background-color: $primary-color) {
  @extend %theme-button-metrics;
  background-color: $background-color !important;
  border-color: transparent !important;
  color: $theme-white !important;
}

.border-class {
  @include bordercolor();
}

.is-size-8 {
  font-size: 0.5rem !important;
}

.interface-view-box,
.theme-view-box {
  border: 2px solid $primary-color;
  max-width: 25rem !important;
  border-radius: 10px;
  padding: 0 !important;
}

.interface-view-box:hover,
.theme-view-box:hover {
  cursor: pointer;
  border-color: $theme-orange;
  // background-image: linear-gradient(to right, #fff, #99d9ee);
}

.theme-action-button-gradient-purple {
  background-image: linear-gradient(to right, #4568dc, #b06ab3);
  border-color: none !important;
  color: white !important;
  padding: 2rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.theme-action-button-gradient-green {
  background-image: linear-gradient(to right, #20BF55, #01BAEF);
  border-color: none !important;
  color: white !important;
  padding: 2rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.theme-action-button-gradient-blue {
  background-image: linear-gradient(to right, #2f4858, #2b75ac);
  border-color: none !important;
  color: white !important;
  padding: 2rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.theme-action-button-gradient-orange {
  background-image: linear-gradient(to right, #f12711, #f5af19);
  border-color: none !important;
  color: white !important;
  padding: 2rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.theme-action-button-gradient-red {
  background-image: linear-gradient(to right, #ED213A, #93291E);
  border-color: none !important;
  color: white !important;
  padding: 2rem;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.orange-text {
  color: $theme-orange !important;
}


@media screen and (max-width: 768px) {
  .cardSize {
    width: 80% !important;
    margin-left: 5% !important;
  }
}


.step-columns {
  overflow: hidden;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: stretch;
  // margin: 0 1rem 0 1rem !important;
}

.step-ind {
display: inline-block;
max-width: max-content !important;
}

.ind-step {
display: inline-block;
padding-right: 100px;
}

.step-rows {
  flex-direction: row !important;
}

.direction-columns {
display: flex !important;
flex-direction: row !important;
justify-content: flex-start !important;
}

.custom-step-title {
  padding: 0 !important;
  margin: 0 !important;
}

.appbanner {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #7cc6e9;
}

.factorybutton {
  margin: 2% 8% 2% 35% !important;
  display: block;
}

.section {
  padding: 5% 3% !important;
  margin-left: 3% !important;
}

h1 {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 3em;
  margin-top: 2%;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.circle {
  margin-left: 2%;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 20px;
  border: 3px solid rgb(86, 87, 84);
}

.headings {
  margin-top: 5%;
}

.h2 {
  margin-left: 2%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 0.7em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.h1 {
  margin-left: 2%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 1em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.deploy {
  float: right;
}

.cradcontainerdummy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.cardrender{
  width: 30%;
  margin-left: 7%;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background-color: #ccc;
}

.input {
  width: 90% !important;
}

/* new slides */

.mySlides {
  display: none;
}

.stepbuttons {
  width: 100%;
  margin-top: 3%;
  padding-bottom: 2%;
  justify-content: center;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.demo {
  font-size: smaller;
  color: #000;
  padding: 0.1% 0.7% 0.1% 0.7%;
  margin-left: 1%;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.w3-red {
  color: rgb(19, 18, 18) !important;
  border: 3px solid rgb(100, 138, 196) !important;
  opacity: 1;
  filter: alpha(opacity=90);
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  cursor: pointer;
  white-space: nowrap;
  background-color: rgb(228, 228, 228);
  margin-left: 1%;
}

.w3-button:hover{
  background-color: green;
}

.center{
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.valueinput{
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin-top: 3%;
  margin-bottom: 15%;
 border: none;
 background-color: none !important;
}

.green{
  background-color: #66f77e !important;
  border: 3px solid rgb(59, 89, 134) !important;
}

.cardImage{
  width: 60%;
  height: 30%;
  margin-left: 15%;
}

.checkSize{
  width: 30px;
  height: 40px;
  margin-top: 40%;
}

.pairing{
  display: flex;
}

.feesdex{
  text-align: left;
  text-align: -webkit-left;
  text-align: -moz-left;
  padding: 0%;
  color: #000;
  display:inline !important;
  border: solid 2px #000000;
}

.feeslabeldex{
  margin-left: 3%;
  padding-right: 3%;
  border-right: solid 2px #000000;
}

.feestagdex{
  margin-left: 10%;
  padding-left: 20%;
  padding-right: 25%;
}

/*3rd step cards*/

.cardbody {
  width: 100%;
}

.cardholders {
  margin: 3% 3%;
  justify-content: center;
  display: flex;
}

.centerinput {
  padding: 3%;
  position: relative;
  background: #fff;
  // border: 3px solid rgb(48, 129, 177) !important;
  margin-left: 3%;
}
.centerinput h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.centerinput .inputbox {
  position: relative;
  height: 50px;
  margin-bottom: 50px;
}
.centerinput .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.centerinput .inputbox:last-child {
  margin-bottom: 0;
}
.centerinput .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.centerinput .inputbox input:focus ~ span,
.centerinput .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.centerinput .inputbox [type="button"] {
  margin-top: 25%;
  margin-left: 30%;
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.centerinput .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

/*label floating*/
.centerinput .input-block {
  position: relative;
  height: 50px;
  margin-bottom: 30px;
}

.centerinput .input-block input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border: 2px solid rgb(209, 52, 52);
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(209, 52, 52);
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.inactive input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border: 2px solid $inactive-color;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
  color: $inactive-color;
}

.centerinput .input-block.inactive.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid $inactive-color;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
  color: $inactive-color;
}

.custom-select {
  margin-bottom: 1.4rem;
}

.select.custom-select select.is-hovered {
  border: none;
  border-bottom: 2px solid rgb(209, 52, 52);
  outline: none;
}

.select.custom-select.success select.is-hovered {
  border: none;
  border-bottom: 2px solid $successfull-color;
  outline: none;
}


.centerinput .input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  color:  #6c757d;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

.centerinput .input-block input:valid + span.placeholder,
.centerinput .input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  color: $inactive-color;
  background: white;
}

.centerinput .input-block.inactive input:valid + span.placeholder,
.centerinput .input-block.inactive span.placeholder {
  transform: scale(0.8) translateY(-30px);
  color: $inactive-color;
  background: white;
}

.centerinput .input-block.pre-selected input:valid + span.placeholder,
.centerinput .input-block.pre-selected span.placeholder {
  transform: scale(0.8) translateY(-30px);
  color: $inactive-color;
  background: white;
}

.centerinput .input-block input:focus{
  color: #284B63;
  border-color: #45ee4d;
}

.centerinput .input-block input::after {
  color: #284B63;
  border-color: #45ee4d;
}

.centerinput .input-block input::first-letter {
  color: #284B63;
  font-size: 2rem;
}

.centerinput .input-block.success input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border: 2px solid #45ee4d;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.success.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #45ee4d;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.default.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid $primary-color;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.pre-selected input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border: 2px solid #45ee4d;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.pre-selected.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #45ee4d;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.disabled input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border: 2px solid $inactive-color;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block.disabled.borderless input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid $inactive-color;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
}

.centerinput .input-block input:focus + span.placeholder {
  color: #284B63;
}

#poolinput{
  width: 70%
}

.numberinput{
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropdown-trigger{
  border: none !important;
}

.defaultdecimal{
  margin-top: 23%;
  
}

#fname{
  padding-top: 10% !important;
  color: grey;
  border-bottom: 2px solid rgb(133, 133, 133);
}

/* Deploy button*/

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.noselect {
  margin-left: 40%;
  margin-top: 10%;
    width: 250px;
    height: 100px;
    cursor: pointer;
    font-size: 30px;
  font-weight: bold;
    font-family: georgia, serif;
    letter-spacing: 5px;
    background: #3de058;
    transition: 500ms;
    border-radius: 5px;
  border: none;
}

.noselect:after {
    content: '';
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

.noselect:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.noselect:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

@keyframes spin{
    25%{transform: translateX(-25px) translateY(-35px);
            width: 15px;
            height: 15px;}
    50% {transform: translateX(-55px) translateY(-30px);
            width: 5px;
            height: 5px;}
    75% {transform: translateX(-85px) translateY(-35px);
            width: 15px;
            height: 15px;}
}

.noselect:focus {
    outline: none;
}

.custom-steps-container {
  display: flex;
  justify-content: space-around;
}

.app-button {
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  border-width: 2px !important;
  border-color: $primary-color !important;
}

.disabled {
    color: $inactive-color !important;
    border-color: $inactive-color !important;
}

.success {
  color: $successfull-color !important;
  border-color: $successfull-color !important;
}

.chevron-inactive {
color: $inactive-color !important;
opacity: 0.5;
}

.chevron-active {
color: $primary-color !important;
size: 2rem ;
}

.steps-displayer {
position: relative;
display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  height: 100%;
}

.steps-slider {
position:absolute;
  left:0;
  right:0;
z-index: 100;
white-space: nowrap;
transition: ease 1000ms;
}

.chevrons {
font-size: 2rem;
}

.chevrons:hover {
cursor: pointer;
}


// STEP 2
.custom-form-input {
border-top: 0;
border-left: 0;
border-right: 0;
}

.token-details-displayer {
display: flex;
justify-content: center;
}

// SUBTITLE

.sub-title-container {
position: relative;
border-radius: 0% !important;
// border-color: #807FC6 !important;
border: 2px solid #ffc421;
}

.floating-warn{
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%, -50%);
color: #ffc421;
font-size: 2rem;
}

@media screen and (max-width: 768px) {

.update{
  box-sizing: border-box !important;
  font-size: 80% !important;
}

.step-rows-bottom {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.custom-step-title{
font-size: 80% !important;
}

.mobileContainer{
margin: 0% !important;
}

.custom-button-bottom{
padding: 9% !important;
margin: 0 !important;
}

.floating-warn{
top: 30%;
left: 10% !important;
}

.chevrons{
width: 50% !important;
margin-top: 10% !important;
}

}

@import "~bulma/bulma.sass";
@import "../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";