/* .app{
    background-color: rgb(236, 236, 236);
}

.appcontainer{
    background-color: rgb(255, 255, 255);
} */

@import "../style/index.scss";

.main-app-layout {
    padding-top: 6rem !important;
    padding-bottom: 5rem !important;
    background: #011627 !important;
}