@charset "utf-8";
@import "../../../style/index.scss";

.columns {
  align-items: center;
}

.section {
  position: relative !important;
  z-index: 1;
  padding: 2rem;
}

.hero-banner {
  position: absolute;
  z-index: 1;
  margin-bottom: 2rem !important;
}

.float-image {
  position: absolute;
  z-index: 5;
}

.centered {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.custom-button {
  @include theme-button($border-color: $secondary-color);
}

.cart-button {
  @include theme-button-filled;
  margin-left: 1rem;
}

.dashboard-button {
  @include theme-button($border-color: $primary-color);
  margin-right: 1rem;
}

