@import "../../../style/index.scss";

.navbar-end {
  justify-content: flex-start !important;
}

.footer {
  display: flex;
}

.app-button-footer {
  padding: 1rem 2rem 1rem 2rem !important;
  border-width: 2px !important;
  border-color: $primary-color !important;
}

.social-links {
  display: flex !important;
  flex-direction: row !important;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .mobile-column {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
  }

  .social-links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
  }
}
