@import "../../../style/index.scss";

.navbar-item {
  @include primaryFontFamily($textTransform: uppercase);
}

.navbar {
  margin: 0.5rem;
}

.factory-title {
  font-size: 2rem;
  color: $charcoal !important;
}

@media screen and (min-width: 1024px) {
  .navbar {
    align-items: center !important;
    display: flex;
    margin: 2rem;
    position: fixed;
  }

  .navbar-brand {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-end {
    align-items: center !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navbar-end {
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .app-button {
    font-size: 80% !important;
  }

  .cart-button{
    width: 90%;
    font-size: 80% !important;
  }

  .profile-buttons{
    display: flex !important;
    font-size: 20% !important;
  }

  .balance{
    padding: 0%;
    margin: 0%;
  }

  .balancediv{
    align-items: center !important;
    float: right !important;
    margin-left: auto !important;
    padding: 0% !important;
  }

  .balancedisplay{
    display: flex !important;
    width: 100% !important;
    font-size: smaller !important;
  }

  .address{
    font-size: 50% !important;
    width: 40%;
  }

  .custom-button2{
    width: 90% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .network-pill {
    top: 10% !important;
    left: 25%;
  }

  .account-address-button{
    font-size: small !important;
  }
}

@media screen and (max-width: 571px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.app-button {
  padding: 1rem 2rem 1rem 2rem !important;
  border-width: 3px !important;
  border-color: $primary-color !important;
}

.app-button-withdata {
  @include theme-button-filled($background-color: $secondary-color);
  // padding: 1.5rem 2.2rem 1.5rem 2.2rem !important;
  // border-width: 3px !important;
  // border-color: $secondary-color !important;
  // font-weight: bold;
}

.navbar-address-column {
  font-size: 0.8rem;
}

.icon-profile {
  font-size: 1rem;
  color: white;
}

.account-address-button {
  @include theme-button-filled($background-color: $secondary-color);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.network-pill {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.networkName {
  background-color: white;
  padding: 0 0.2rem 0 0.2rem;
}