@import "../../../style/index.scss";

.navbar-item {
  @include primaryFontFamily($textTransform: uppercase);
}

.navbar {
  margin: 0.5rem;
}

.factory-title {
  font-size: 2rem;
  color: $charcoal !important;
}

@media screen and (min-width: 1024px) {
  .navbar {
    align-items: center !important;
    display: flex;
    margin: 2rem;
    position: fixed;
  }

  .navbar-brand {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-end {
    align-items: center !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:nowrap;
  }
}

@media screen and (max-width: 571px) {
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.app-button {
  padding: 1rem 2rem 1rem 2rem !important;
  border-width: 3px !important;
  border-color: $primary-color !important;
}

.app-button-withdata {
  padding: 1.5rem 2.2rem 1.5rem 2.2rem !important;
  border-width: 3px !important;
  border-color: #b1a3f1 !important;
  font-weight: bold;
}
