@charset "utf-8";
@import "../../../style/index.scss";

.card-container {
   width: 33%;
    margin: 2rem;
}

.custom-card {
  height: 100%;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: $primary-color;
  flex-direction: column;
  padding: 2rem;
  margin: 0 2rem 0 2rem;
}

.custom-card:hover {
  cursor: pointer;
}

.add-border {
  border: 2px solid black;
}

.error-container {
  padding: 0 1.5rem 0 1.5rem;
  color: white;
  border: 2px solid $unsucessful-color;
  background-color: $unsucessful-color;
}

.custom-container-fees {
  padding: 0 !important;
  border: 2px solid $charcoal;
  margin: 0 2rem 1rem 2rem;
}

.container-fees{
  display: flex;
  flex-wrap: wrap;
}

.fees{
  font-size: 1.3rem !important;
  border: none;
}

.static-fee-column {
  border-right: 2px solid $charcoal;
  padding: 0 !important;
}

.amount-cover{
  margin-left: 0% !important;
  padding-right: 0% !important;
}

.icon-style {
  color: $primary-color;
}

// CUSTOM CHECKBOX
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  // padding-left: 35px;
  // margin-bottom: 12px;
  // cursor: pointer;
  // font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

//   /* Create a custom checkbox */
.checkmark {
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 10%;
  height: 2rem;
  width: 2rem;
  transform: translate(-50%, -50%);
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 38%;
  top: 22%;
  width: 0.5rem;
  height: 1.0rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
//   transform: translate(-50%, -50%);
}



/*media queries*/
@media screen and (max-width: 1450px) {
  .card-title{
    font-size: 22px !important;
  }

  .error-container {
    font-size: 13px !important;
    padding: 0 1rem 0 1rem !important;
  }

  .custom-container-fees {
    margin: 0.2rem 1.5rem 1rem 1.5rem !important;
  }

  .fees{
    font-size: 1rem !important;
    padding-left: 5% !important;
  }
}

@media screen and (max-width: 1250px) {
  .card-title{
    font-size: 17px !important;
  }

  .error-container {
    font-size: 10px !important;
    padding: 0.2rem 0.7rem 0 0.7rem !important;
  }

  .custom-container-fees {
    margin: 0.2rem 1.2rem 1rem 1.2rem !important;
  }

  .fees{
    font-size: 0.8rem !important;
    border: none;
    padding-left: 5% !important;
  }

  .custom-card {
    padding: 1.5rem !important;
  }
}

@media screen and (max-width: 950px) {
  .card-title{
    font-size: 15px !important;
  }

  .error-container {
    font-size: 8px !important;
    padding: 0.2rem 0.7rem 0 0.7rem !important;
  }

  .custom-container-fees {
    margin: 0.2rem 1.2rem 1rem 1.2rem !important;
  }

  .fees{
    font-size: 0.7rem !important;
    border: none;
    padding: 0% !important;
    padding-left: 2% !important;
  }

  .custom-card {
    padding: 1rem !important;
  }

  .fees-title{
    width: 32% !important;
    padding: 0% !important;
    margin: 0% !important;
  }
}

@media screen and (max-width: 750px) {
  .card-title{
    font-size: 15px !important;
  }

  .error-container {
    padding: 0% !important;
    width: 60% !important;
    text-align: center !important;
    margin-left: 17% !important;
  }

  .custom-card {
    margin: 0 !important;
    padding: 0.5rem !important;
  }

  .card-container {
    width: 65% !important;
     margin: 1rem !important;
 }

 .fees{
  font-size: 0.6rem !important;
  border: none;
  padding: 0% !important;
  padding-left: 1% !important;
  font-weight: bold !important;
}

 .fees-title{
   width: 32% !important;
   padding: 0% !important;
   margin: 0% !important;
 }

 .checkmark{
   height: 1.3rem !important;
   width: 1.3rem !important;
 }
}